<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="navigation">
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
<!--                    <li><a href="#">Hot Deals</a></li>-->
                    <li><a th:href="@{/store}">Categories</a></li>
                    <li><a th:href="@{/about}">About us</a></li>
<!--                    <li><a th:href="@{/store}">Laptops</a></li>-->
<!--                    <li><a href="#">Cameras</a></li>-->
<!--                    <li><a href="#">Accessories</a></li>-->
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
</div>
</body>
</html>